
<%= simple_form_for @service, url: page_services_path(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="service_description">
      <label class="left border-bottom" for="service_description">Objectif de la mission</label>
      <textarea placeholder="Une liste de course? Un lieu? Donnez à votre enfant un maximum d'information sur la mission." class="form-control text optional" name="service[description]" id="service_description"></textarea>
    </div>
    <div class="hidden range-container">
      <div class="row">
        <div class="center">
          <h5>40€</h5>
        </div>
      </div>
      <p class="range-field col-xs-12 my-range">
        <input aria-required="true" name="service[amount]" type="range" id="test3" min="0" max="150" />
      </p>
    </div>

    <div class="row hidden ">
      <div class="col s6">
        <%= f.input :hour, collection: (0..24), prompt: Service::HOUR %>
      </div>
      <div class="col s6">
        <%= f.input :minute, collection: (0..60), prompt: Service::MINUTE %>
      </div>
    </div>
    <div class="hidden">
      <%= simple_form_for @as, url: page_services_path(@user) do |f| %>
        <div class="row">
          <label class="left col s12">Pour qui sera la mission ?</label>
          <input type="hidden" name="ask_service[membre_id][]" value="">
        </div>
        <div class="row">
          <% @user.membres.each do |membre| %>
            <div class="col s6">
              <input type="checkbox" class="hidden" value="<%= membre.id %>" name="ask_service[membre_ids][]" id="  ask_service_ids_<%= membre.id %>">
              <label for="ask_service_ids_<%= membre.id %>">
                <%= image_tag 'teen.jpg',width: 100, height: 100, class: 'z-depth-5 circle' %>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


<!-- inputs -->
  <div id="show-2" class="row hidden">
    <input type="submit" name="commit" value="ask" class="btn btn-large btn-floating right btn-floating green accent-3" data-disable-with="Create Ask for money">

    <div class="back left come-back">
      <i class="material-icons">arrow_left</i>Retour
    </div>

    <a id="show-1" class=" btn-floating btn-large waves-effect waves-light right black">
      <i class="material-icons">chevron_right</i>
    </a>
  </div>
<% end %>
<% end %>
<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa natus perferendis neque eaque architecto corporis iusto totam? Exercitationem illo iusto similique accusamus praesentium veniam error, voluptas, dolore nulla quas magni?
 -->
