<div class="form_container-new"><div class="card">
    <h1 id="new-membrer-header" >Créer<br> une poche</h1>
    <%= image_tag 'icon_cross', height: 15, class: 'cross' %>
    <div class="card-user" >
    <%= image_tag 'photo', height: 50 , class: 'camera'%>
    </div>
  </div>
  <%= simple_form_for @pocket, url: page_pockets_path(@user) do |f| %>
    <div class="form-inputs-new">
      <div class="input-div-new">
        <%= f.input :name, label: "Première poche", placeholder: "Titre de la poche", class: "input-new" %>
      </div>
      <div class="container-checkbox">
            <input class="hidden" type="checkbox" name="prive">
            <div class="tresor_prive">
              <label class="gnd_custom">Type</label>

              <div id="tresor_prive">
                <span class="radio">
                  <label for="tresor_prive_false">
                    <input class="radio_buttons optional" readonly="readonly" type="radio" value="false" name="tresor[prive]" id="tresor_prive_false">
                    <%= image_tag "debloque.png", height: 55, width: 130, crop: :fill %>
                  </label>
                </span>

                <input type="hidden" name="tresor[prive]" value="">
                <span class="radio">
                  <label for="tresor_prive_true">
                    <input class="radio_buttons optional" type="radio" value="true" name="tresor[prive]" id="tresor_prive_true"><%= image_tag "bloque.png", height: 55, width: 130, crop: :fill%>
                  </label>
                </span>
              </div>
            </div>
          </div>
    </div>
    <div class="form-inputs-new">
      <!-- <div class="input-div">
        <%= f.submit "JE VALIDER", class: 'btn-form', id: "validate" %>
      </div> -->
    </div>
  <% end %>
  <%= simple_form_for @pocket, url: page_pockets_path(@user) do |f| %>
    <div class="form-inputs-new">
      <div class="input-div-new">
        <%= f.input :name, label: "Seconde poche", placeholder: "Titre de la poche", class: "input-new" %>
      </div>
    </div>
    <div class="container-checkbox">
            <input class="hidden" type="checkbox" name="prive">
            <div class="tresor_prive">
              <label class="gnd_custom">Type</label>

              <div id="tresor_prive">
                <span class="radio">
                  <label for="tresor_prive_false">
                    <input class="radio_buttons optional" readonly="readonly" type="radio" value="false" name="tresor[prive]" id="tresor_prive_false">
                    <%= image_tag "debloque.png", height: 55, width: 130, crop: :fill%>
                  </label>
                </span>

                <input type="hidden" name="tresor[prive]" value="">
                <span class="radio">
                  <label for="tresor_prive_true">
                    <input class="radio_buttons optional" type="radio" value="true" name="tresor[prive]" id="tresor_prive_true"><%= image_tag "bloque.png", height: 55, width: 130, crop: :fill %>
                  </label>
                </span>
              </div>
            </div>
          </div>
    <div class="form-inputs-new">
      <div class="input-div">
        <%= f.submit "JE VALIDER", class: 'btn-form', id: "validate" %>
      </div>
    </div>
  <% end %>
</div>
