<div class="form_container-new">


  <div class="card">
    <%= image_tag 'arrow.png', height: 20, class: 'card-arrow' %>
    <%= image_tag 'cross', height: 15, class: 'cross' %>
    <div class="annonce" id="new-membrer-header">
      <h1>Ses Première <br>poches</h1>
      <%= image_tag 'pagination', height: 10, class: 'pagination-pics' %>
    </div>
  </div>

  <%= simple_form_for @pocket, url: page_pockets_path(@user) do |f| %>
    <div class="form-group string optional pocket_name">
      <label class="control-label string optional" for="pocket_name" style="float: right; font-weight: 400; color:black;">PRMIÈRE POCHE</label>
      <input class="form-control string optional" placeholder="Titre de la poche" type="text" name="pocket[name]" id="pocket_name">
    </div>
    <div class="add-badge" >
      <%= image_tag 'add', height: 20 %>
    </div>
    <div class="row">
      <div class="btn-container">
        <%= f.submit "VALIDER", class: 'btn-form' %>
      </div>
    </div>
  <% end %>
</div>
