<div class="grey-b">

  <div class="header-profilecreation">
    <div class="col s10">
      <div class="header-profilecreation-name">
       <h4><%= @membre.fisrt_name %></h4>
      </div>
    </div>
    <div class="header-profilecreation-photo col s2">
      <%= image_tag 'teen.jpg', height: 40, width: 40, class: "img-circle"%>
    </div>

  </div>

  <div class="container-poche-creation">
    <div id="test1" class="col s2 pocket">
      <div class="pocket-name" >
        <p></p>
      </div>
      <div class="container-pocket-pics">
        <div class="right pocket-pics">
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main-container-profilecreation">
  <div class="content-profilecreation">
    <h5>Vous donnez de l'argent régulièrement à <%= @membre.fisrt_name %>, permettez lui de gérer son argent en toutes autonomie</h5>
    <%= simple_form_for @pocket, url: page_membre_pockets_path(@user, @membre) do |f| %>
      <div class="form-group string optional pocket_name">

        <input class="form-control string optional" placeholder="D'abord, donnez un nom à cette poche" type="text" name="pocket[name]" id="pocket_name">
      </div>
      <div class="row">
        <div class="hidden btn-container">
          <%= f.submit "Ajouter la poche" %>
        </div>
      </div>

      <% end %>
  </div>

  <div class="footer-buttons">
    <div class="right" >
      <a class=" btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons">arrow_forward</i>
      </a>

    </div>
    <div class="left">
      <a href="javascript:history.back()">
        <i class="material-icons">arrow_back</i>retour
      </a>

    </div>
  </div>

</div>
