
<div class="main-container-profilecreation">

  <div class="header-profilecreation">
    <div class="col s10">
      <div class="header-profilecreation-name">
       <h4><%= @membre.fisrt_name %>Raphael</h4>
      </div>
    </div>
    <div class="header-profilecreation-photo col s2">
      <%= image_tag 'teen.jpg', height: 40, width: 40, class: "img-circle"%>
    </div>

  </div>

  <div class="container-poche-creation">
    <div style="margin: 0 auto" id="test1" class="pocket">
      <div class="pocket-name" >
        <p></p>
      </div>
      <div class="container-pocket-pics">
        <div class="right pocket-pics">
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-profilecreation" id="transferts-new-content">
    <h4>Félicitation,<br>vous avez crée <br>la poche<p class="pinky"><%= Pocket.last.name %></p></h4>

    <div style="margin-top: 60px"  class="row">
      <p>Souhaitez-vous lui en crer une autre ? </p>


      <div class="offset-s3 z-depth-2 ask-answer col s3">
        <span class="radio">
          <label for="ask_for_dollar_accepted_true">
            <input class="radio_buttons optional" type="radio" value="true" name="ask_for_dollar[accepted]" id="ask_for_dollar_accepted_true">
            <%= link_to new_page_membre_paiement_path(current_user, @membre) do  %>
            <p>Oui</p>
            <% end %>
          </label>
        </span>
      </div>
      <div class="col s1"></div>

      <div class="z-depth-2 ask-answer col s3">
        <span class="radio">
          <label for="ask_for_dollar_accepted_false">
            <input class="radio_buttons optional" readonly="readonly" type="radio" value="false" name="ask_for_dollar[accepted]" id="ask_for_dollar_accepted_false">
            <%= link_to new_page_membre_paiement_path(current_user, @membre) do  %>
            <p>Non</p>
            <i class="material-icons"></i>
            <% end %>
          </label>
        </span>
      </div>
    </div>
  </div>
</div>

