
<% if @user.membres.empty? %>
  <p>Aucun Membre dans ma famille :-(</p>
  <%= link_to "Ajouter un Membre à ma famille", new_page_membre_path, class: 'btn-info' %>
<% else %>


    <h2>Ma famille</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-8">
          <% @family.each do |membre| %>
            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/random');">
                <div class="card-category"><%= membre.birthday %></div>
                <div class="card-description">
                  <h2><%= membre.fisrt_name %></h2>
                  <p><%= membre.last_name %></p>
                </div>
                <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
                <a class="card-link" href="#" ></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
      <%= link_to "Ajouter un Membre à ma famille", new_page_membre_path, class: 'btn-form' %>
    </div>


<% end %>
<hr>
<% if @user.pockets.empty? %>
  </div><%= link_to "Ajouter une poche", new_page_pocket_path, class: 'btn-info' %>
    <p>Aucune poche dans ma famille :-(</p>
<% else %>
  <h2>Mes Poches</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <% @pockets.each do |pocket| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/random');">
              <div class="card-category"></div>
              <div class="card-description">
                <h2><%= pocket.name %></h2>
                <p><%= pocket.credit %>€</p>
              </div>
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <%= link_to "Ajouter une poche", new_page_pocket_path, class: 'btn-form' %>
<% end %>

