<div class="main-container-profilecreation">

  <div class="header-profilecreation">
      <p>Nouveau Compte</p>
      <% @membre.transferts.each do |pocket| %>
        <div class="chip left blue">
          <%= pocket.name %> <i class="close material-icons">close</i>
       </div>
      <% end %>
  </div>
  <div class="content-profilecreation">
    <h4>Son compte FamilyWalet</h4>
    <%= simple_form_for @membre, url: page_membres_path(@user) do |f| %>
    <div class="form-inputs-new">
        <!-- First Name -->
      <div class="input-div-new">
        <div class="form-group string optional membre_last_name">
          <div class="input-field col s12">
            <input name="membre[fisrt_name]" id="membre_fisrt_name" type="text" class="form-control validate">
            <label for="fisrt_name">Prénom</label>
          </div>
        </div>
      </div>

      <!-- Last Name  -->
      <div class="input-div-new">
        <div class="form-group string optional membre_last_name">
          <div class="input-field col s12">
            <input name="membre[last_name]" id="membre_last_name" type="text" class="form-control validate">
            <label for="last_name">Nom</label>
          </div>
        </div>
      </div>

      <!-- Birthday -->
      <div class="input-div-new">
        <div class="form-group string optional membre_birthday">
          <div class="input-field col s12">
            <input name="membre[birthday]" id="membre_birthday" type="text" class="form-control validate">
            <label for="membre_birthday">Date d'anniversaire         (JJ/MM/AAAA)</label>
          </div>
        </div>
      </div>

    </div>
    <!-- CheckBoxes -->
    <!-- <div class="form-group check_boxes optional membre_sexe">
      <input type="hidden" name="membre[sexe][]" value="">
      <div class="row" >
        <div class="col-xs-4" style="margin-right: 30px;">
          <span class="checkbox">
            <label for="membre_sexe_true">
              <input class="check_boxes hidden" type="checkbox" value="true" name="membre[sexe][]" id="membre_sexe_true">
              <div class="btn-checkboxe">
                <p>Garçon</p>
              </div>
            </label>
          </span>
        </div>
        <div class="col-xs-4">
          <span class="checkbox">
            <label for="membre_sexe_false">
              <input class="check_boxes optional hidden" readonly="readonly" type="checkbox" value="false" name="membre[sexe][]" id="membre_sexe_false">
              <div class="btn-checkboxe" >
                <p>Fille</p>
              </div>
            </label>
          </span>
        </div>
      </div>
    </div> -->
    <div class="row">
      <input type="hidden" name="membre[sexe]" value="">
      <div class="btn-checkboxe col s4 bb">
        <span class="radio">
          <label style="text-align: center;float: left;" for="membre_sexe_true">
            <input class="radio_buttons optional" type="radio" value="true" name="membre[sexe]" id="membre_sexe_true">
            <p>Garçon</p>
          </label>
        </span>
      </div>
      <div class="btn-checkboxe  col S4 xx">
        <span class="radio">
          <label for="membre_sexe_false">
            <input class="radio_buttons optional" readonly="readonly" type="radio" value="false" name="membre[sexe]" id="membre_sexe_false">
            <p>Fille</p>
          </label>
        </span>
      </div>
    </div>

    <div class="center">
      <%= f.submit "Creer compte à mon enfant", class: 'btn blue' %>
      </div>

      <% end %>
  </div>

  <div class="footer-buttons">
    <div class="right" >
      <a href="/pages/<%= @user.id %>/membres/<%= @membre.id %>/bravo" class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons">arrow_forward</i>
      </a>

    </div>

    <a href="javascript:history.back()">
      <i class="material-icons">arrow_back</i>retour
    </a>
  </div>

</div>
