<%= simple_form_for @membre, url: page_membres_path(@user) do |f| %>
<div class="main-container-profilecreation" id="membre-new" >

  <div class="container-bulle">
    <label class="center" for="ask_for_money_photo">
      <%= image_tag 'photo.png', height: 60 %>
    </label>
    <input class="hidden file optional" type="file" name="ask_for_money[photo]" id="ask_for_money_photo">
    <%= f.input :photo_cache, as: :hidden %>
  </div>


  <div class="content-profilecreation" id="membre-new" >
    <div class="form-inputs-new">
        <!-- First Name -->
      <div class="input-div-new">
        <div class="form-group string optional membre_last_name">
          <div class="input-field col s12">
            <input name="membre[fisrt_name]" id="membre_fisrt_name" type="text" class="form-control validate">
            <label for="fisrt_name">Prénom</label>
          </div>
        </div>
      </div>

      <!-- Last Name  -->
      <div class="input-div-new">
        <div class="form-group string optional membre_last_name">
          <div class="input-field col s12">
            <input name="membre[last_name]" id="membre_last_name" type="text" class="form-control validate">
            <label for="last_name">Nom</label>
          </div>
        </div>
      </div>

      <!-- Birthday -->
      <div class="birthday-date">
        <div class="label-birthday">
          <p>Date de Naissance  </p>
        </div>
        <div class="membre_day">
          <select class="form-control select optional" name="membre[day]" id="membre_day">
            <option value=""><p>Jour</p></option>
            <% (1..31).to_a.each do |op| %>
              <option value="<%= op %>"><%= op %></option>
            <% end %>
          </select>
        </div>


        <div class="membre_month">
          <select class="form-control select optional" name="membre[month]" id="membre_month">
            <option value="">Mois</option>
            <% Membre::MOIS.each do |op| %>
            <option value="<%= op %>"><%= op %></option>
            <% end %>
          </select>
        </div>

        <div class="membre_year">
          <select class="form-control select optional" name="membre[year]" id="membre_year">
          <option value="">Année</option>
            <% (2000..2010).to_a.each do |op| %>
              <option value="<%= op %>"><%= op %></option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->

  <div class="footer-buttons">
    <div class="forward" >
      <a class=" btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons">arrow_forward</i>
      </a>
    </div><!--
    <div class="backward">
      <a href="javascript:history.back()">
        <i class="material-icons">arrow_back</i>
      </a>
    </div> -->
  </div>
</div>
<% end %>
