<div class="main-container-profilecreation">

  <div class="header-profilecreation">
      <p>&#x2501; &nbsp;<%=@membre.fisrt_name%>&nbsp;  &#x2501;</p>
      <div class="chip left">
      <%= image_tag 'pomme.png' %>
      Pay
    </div>
    <div class="chip left">
      <%= image_tag 'mastercard.png'%>
      carte débit
    </div>
  </div>
  <div class="content-profilecreation">
    <h4>Choisisez ses modes de paiements</h4>
    <%= simple_form_for @paiement, url: page_membre_paiements_path do |f| %>
    <%= f.error_notification %>

      <div class="row">
        <div class="col s4">
          <span class="checkbox selected-mode" id="input-mode">
            <label for="paiement_mode_apple_pay">
              <input class="input-mode" type="checkbox" value="Apple Pay" name="paiement[mode][]" id="paiement_mode_apple_pay">
              <p>Apple Pay</p>
            </label>
          </span>
        </div>

        <div class="col s4">
          <span class="checkbox" id="input-mode">
            <label for="paiement_mode_paylib">
              <input class="input-mode" type="checkbox" value="Paylib" name="paiement[mode][]" id="paiement_mode_paylib">
              <p>Paylib</p>
            </label>
          </span>
        </div>

        <div class="col s4">
          <span class="checkbox selected-mode" id="input-mode">
            <label for="paiement_mode_carte_débit">
              <input class="input-mode" type="checkbox" value="Carte débit" name="paiement[mode][]" id="paiement_mode_carte_débit">
              <p>Carte débit</p>
            </label>
          </span>
        </div>
      </div>
      <div class="container-fluid ">
        <%= image_tag "carte_debit.png", height: 200 %>
        <h5>CHOISIR</h5>
      </div>

      <div class="container-fluid hide" id="carte-adresse">

        <div class="row">
          <div class="input-field col s12 form-plus">
            <input id="password" type="password" class="validate">
            <label for="password">Adresse 1</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 form-plus">
            <input id="password" type="password" class="validate">
            <label for="password">Adresse 2</label>
          </div>
        </div>

        <div class="row">
          <div class="col s1"></div>

          <div class="input-field col s4 form-plus">
            <input id="password" type="password" class="validate">
            <label for="password">Code Postal</label>
          </div>

          <div class="col s2"></div>

          <div class="input-field col s4 form-plus">
            <input id="password" type="password" class="validate">
            <label for="password">Ville</label>
          </div>

        </div>


      </div>


  </div>

  <div class="footer-buttons">
    <div class="btn-floating right btn-large waves-effect waves-light black add" >
    <input type="submit" name="commit" value="&#x2794">

    </div>

    <a href="javascript:history.back()">
      <i class="material-icons">arrow_back</i>retour
    </a>
  </div>

    <% end %>
</div>
