<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="ask-title">
      <h2>La demandes de <%= @membre.fisrt_name %></h2>
    </div>
  </div>

  <div class="ask-card z-depth-3">
    <!-- picture -->
    <%= image_tag 'livres.jpg', class: "ask-picture"%>

    <!-- OBJET  -->
    <div class="ask-object">
      <h5><%= @ask_for_dollar.object.capitalize %></h5>
    </div>
    <!-- CREDIT -->
    <div class="ask-credit">
     <h5><%= @ask_for_dollar.credit %>€</h5>
    </div>

  </div>
  <!-- DESCRIPTION -->
  <div class="row">
    <div class="col s2">
      <h6>Description:</h6>
    </div>
    <div class="offset-s1 card-panel grey lighten-5 z-depth-1 col s10 ">
      <h6>
        <%= @ask_for_dollar.description %>
      </h6>
    </div>
  </div>

  <%= simple_form_for @ask_for_dollar, url: edit_kid_ask_for_dollar_path(@membre) do |f| %>

    <div class="row">

      <input type="hidden" name="ask_for_dollar[accepted]" value="submit">

      <div class="offset-s1 z-depth-3 ask-answer col s4">
        <span class="radio">
          <label for="ask_for_dollar_accepted_true">
            <input class="radio_buttons optional" type="radio" value="true" name="ask_for_dollar[accepted]" id="ask_for_dollar_accepted_true">
            <i class="material-icons">check</i>
            <p>J'accepte</p>
          </label>
        </span>
      </div>
      <div class="col s1"></div>

      <div class="z-depth-3 ask-answer col s4">
        <span class="radio">
          <label for="ask_for_dollar_accepted_false">
            <input class="radio_buttons optional" readonly="readonly" type="radio" value="false" name="ask_for_dollar[accepted]" id="ask_for_dollar_accepted_false">
            <p>Je refuse</p>
            <i class="material-icons">clear</i>
          </label>
        </span>
      </div>

    </div>

  <% end %>

</div>


<%= link_to 'Edit', edit_kid_ask_for_dollar_path(@membre, @ask_for_dollar) %> |
<%= link_to 'Back', kid_path(@membre) %>
