<div class="form_container-edit">
  <h1 id="edit-header" >Validez vos Infos</h1>

    <%= simple_form_for @user, url: page_path(@user) do |f| %>
          <p style="font-weight: 600; color: black;">Votre identité</p>
          <div class="form-inputs-edit">

            <div class="input-div">
              <%= f.input :first_name, placeholder: "Doe", class: "input-edit" %>
              <%= image_tag "crayon.png", height: 30, id: "icone-edit" %>
            </div>
            <div class="input-div">
              <%= f.input :first_name, placeholder: "John", class: "input-edit" %>
              <%= image_tag "crayon.png", height: 30, id: "icone-edit" %>
            </div>
            <div class="input-div">
              <%= f.input :birthday, placeholder: "21/02/1980", class: "input-edit" %>
              <%= image_tag "crayon.png", height: 30, id: "icone-edit" %>
            </div>
          </div>

        <p style="font-weight: 600; color: black;">Vos coordonées</p>
        <div class="form-inputs-edit">
            <div class="input-div">
              <%= f.input :phone_numbre, placeholder: "+33 6 22 45 67 89", class: "input-edit" %>
              <%= image_tag "crayon.png", height: 30, id: "icone-edit" %>
            </div>
            <div class="input-div">
              <%= f.input :mail, placeholder: "john.Doe@mail.com", class: "input-edit" %>
              <%= image_tag "crayon.png", height: 30, id: "icone-edit" %>
            </div>
          </div>
       <%= f.submit "JE VALIDER", class: 'btn-form', id: "validate" %>
  <% end %>

</div>
