<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel white ">
      <div class="row valign-wrapper">
        <div class="col s10">
          <div class="black-text left">
           <h4>Hello <%= current_user.first_name %></h4>
         </div>
       </div>
       <div class="col s2">
        <%= image_tag "mama.jpg", width: 40, height: 40, class: 'img-circle'%>
      </div>
    </div>

  </div>
</div>
<% if @user.membres.empty? %>
  <p>Aucun Membre dans ma famille :-(</p>
  <%= link_to "Ajouter un Membre à ma famille", new_page_membre_path(@user), class: 'btn-info' %>
<% else %>
  <div class="row">
    <% @membres.each do |membre|  %>
      <div class="col s4">
        <%= image_tag 'marius.png',width: 130, height: 160 %>

      </div>
    <% end %>
    <%= link_to new_page_membre_path(current_user) do%>
    <div class="col s3 nouveau-membre">
      <%= image_tag 'add-m.png', height: 170 %>
    </div>
    <% end %>
  </div>
  <%= image_tag 'activ.png', class: 'img-activ' %>
<% end %>
<%= render 'shared/navbar' %>



