<%= render 'shared/navbar' %>
<% if @user.membres.empty? %>
  <p>Aucun Membre dans ma famille :-(</p>
  <%= link_to "Ajouter un Membre à ma famille", new_page_membre_path(@user), class: 'btn-info' %>
<% else %>
  <%= link_to "Ajouter un Membre à ma famille", new_page_membre_path(@user), class: 'btn-form' %>
<% end %>


<div class="row">
  <div class="container-fluid">
    <% if current_user.membres.empty?  %>
      <% else %>
        <% current_user.membres.each do |membre|  %>

          <% if membre.ask_for_money.empty?  %>
          <% else %>
            <div class=" col s12">
              <% membre.ask_for_money.all.each do |afm| %>
                <div class="card darken-1">
                  <h2 class="card-title">AskForMoney</h2>
                  <%= membre.fisrt_name %> <p>Vous demande</p>
                  <p>Description:</p>
                  <p class="blue">
                    <%= afm.description %>
                  </p>

                  <p>Objet de la demande:</p>
                  <p class="red">
                   <%= afm.object %>
                  </p>

                  <p>Argent demandé:</p>
                    <p class="green">
                    <%= afm.credit %>
                  </p>

                </div>
              <% end %>

            </div>
          <% end %>









        <% end %>

    <% end %>
  </div>

</div>
<hr>
