<div class="form-container" style="margin: 50px 30px">
  <h2>Connectez-vous</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, required: false, autofocus: true, placeholder: 'Votre code client' %>
      <%= f.input :password, required: false, placeholder: 'Votre code secret' %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Se connecter", class: "button-wf" %>
    </div>
  <% end %>
</div>

