<div class="main-container-profilecreation">

  <div class="header-profilecreation">
      <p>&#x2501; &nbsp;<%=@membre.fisrt_name%>&nbsp;  &#x2501;</p>
      <% @membre.transferts.each do |pocket| %>
        <div class="chip left blue">
          <%= pocket.name %> <i class="close material-icons">close</i>
       </div>
      <% end %>

  </div>
  <div class="content-profilecreation">
    <h4>Programmez des versements</h4>
    <%= simple_form_for @transfert, url: page_membre_transferts_path(@user, @membre) do |f| %>

      <div class="range-container">
          <p class="range-field col-xs-12 my-range">
            <input aria-required="true" name="transfert[value]" type="range" id="test3" min="0" max="250" />
          </p>

      </div>

      <div class="row">


        <div class="col s6">
          <div class="form-group select optional transfert_frequence">
            <label class="control-label select optional" for="transfert_frequence">Récurence</label>
            <select class="form-control select optional" name="transfert[frequence]">
              <option value="Par mois">Par mois</option>
              <option value="Par semaine">Par semaine</option>
              <option value="Par jours">Par jours</option>
            </select>
          </div>
        </div>

        <div class="col s6">
          <div class="form-group select required transfert_pocket">
            <label class="control-label select required" for="transfert_pocket">
            <abbr title="required">*</abbr>Vers quelle Poche?</label>
            <select class="form-control select required" name="transfert[pocket]" >
              <% @membre.pockets.each do |pocket|  %>
              <option value="1"><%= pocket.name %></option>
              <% end %>
            </select>
          </div>
        </div>

      </div>


        <div class="input-field form-group string optional transfert_name">
          <label class="control-label string optional" for="transfert_name">Nom</label>
          <input class="form-control string optional" type="text" name="transfert[name]" id="transfert_name">
        </div>
      <div class="center">
        <%= f.submit "Creer un versement", class: 'btn blue' %>

      </div>

      <% end %>

  </div>

  <div class="footer-buttons">
    <div class="right" >
      <a href="/pages/<%= @user.id %>/membres/<%= @membre.id %>/" class="btn-floating btn-large waves-effect waves-light black">
        <i class="material-icons">arrow_forward</i>
      </a>

    </div>

    <a href="javascript:history.back()">
      <i class="material-icons">arrow_back</i>retour
    </a>

  </div>

</div>
