<div class="container-new">
  <div class="card" id="tranfert-card">
      <%= image_tag 'arrow', height: 20, class: 'card-arrow' %>
      <%= image_tag 'icon_cross', height: 15, class: 'cross' %>
    <div class="annonce" id="new-membrer-header" ><h1>Programmer <br> un versement</h1>
        <%= image_tag 'pagination', height: 10, class: 'pagination-pics' %>
    </div>
  </div>

  <div class="form_container">

<%= simple_form_for @transfert, url: page_transferts_path(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group string required transfert_name">
      <label class="control-label string required" for="transfert_name">
        <abbr title="required"></abbr></label>
        <input class="form-control string required" autofocus="autofocus" required="required" aria-required="true" placeholder="Nom du versement: ex argent de poche" type="text" name="transfert[name]" id="transfert_name">
    </div>
    <p>
      <label for="amount">Minimum number of bedrooms:</label>
      <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>
    <div id="slider-range-max"></div>
    <%= f.input :value, label: "Montant", required: true %>
    <%= f.input :frequence, label: "      ", placeholder: 'Confirmez votre code secret', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Valider", class: 'button-wf' %>
  </div>
<% end %>
</div>



</div>
