<div class="form_container-new">

  <div class="card" id="paiement-new">
    <%= image_tag 'arrow', height: 20, class: 'card-arrow' %>
    <%= image_tag 'cross', height: 15, class: 'cross' %>
    <div class="annonce" id="new-membrer-header">
      <h1>Ses Première <br>poches</h1>
      <%= image_tag 'pagination', height: 10, class: 'pagination-pics' %>
    </div>
  </div>

  <%= render 'form', paiement: @paiement %>
<!--
<%= link_to 'Back', page_paiements_path %> -->
</div>
